body {
    background: lavender;
   
}

#headerWishlist {
    max-width: 300px;
}

#gridContainer {
    list-style: none;
   }

#btnRemoveFromWishlist {
    font-size: 12px;
    margin-bottom: 35px;
}

#btnAddToCart {
    font-size: 12px;
}

.footer--container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: gray;
    color: white;
    height: 30px;
    text-align: center;
}

.footer--content {
    font-size: 12px;
    padding:  5px 0px 0px 0px;
    margin: auto;
}

.footer--content a {
    color: white;
}
.footer--content a:hover {
    color: violet;
}

.tab-content h1 {
    justify-content: center;
    border-bottom: 1px solid gray;
    display: inline-block;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.tab-content {
    justify-content: space-around;
    padding: 50px;
    margin-left: 0;
    /* margin-left: 0; */
}

.tab-content p {
    margin-left: auto;
}

.col-4 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    padding: 50px;
    margin: 10px;
    width: 200px;
    box-sizing: border-box;
}

.list-group {
    margin-left: 60px;
}

.main-img-container {
    position: relative;
    text-align: center;
}

.main-img {
    width: 100%;
}

.main-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    border: 3px solid black;
}