body {
    background: lavender;
   
}

.footer--container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: gray;
    color: white;
    height: 30px;
    text-align: center;
}

.footer--content {
    font-size: 12px;
    padding:  5px 0px 0px 0px;
    margin: auto;
}

.footer--content a {
    color: white;
}
.footer--content a:hover {
    color: violet;
}

.col-4 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.tab-content h1 {
    text-align: end;
    border-bottom: 1px solid gray;
    display: inline-block;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.col-4 {
    padding: 50px;
    margin: 10px;
    width: 200px;
    box-sizing: border-box;
}